.pages_chat_input {
    position: absolute;

    bottom: 0px;
    width: 100%;
    height: 50px;

    background-color: black;
}

.pages_chat_content {
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.pages_chat_message_user {
    background-color: green;
    padding: 25;
}

.pages_chat_message_agent {
    background-color: blue;
    padding: 25;
}