# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment / virtualenv
.env/
.venv/
env/
venv/

./_imports/pytorch/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.sqlite3
*.pyc
*.pyo
*.pyd

# models code
bin/**
!bin/models/

!bin/models/gpt_large
!bin/models/gpt_large/gpt_large.py

!bin/models/llama_3_1
!bin/models/llama_3_1/llama_3_1.py